<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6">
      <h1>Ingrese usuarios</h1>
      <form #formulario="ngForm" (ngSubmit)="postUsuarios(formulario)">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            [(ngModel)]="userService.usuariosSelect.nombre"
          />
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input
            type="text"
            class="form-control"
            name="apellido"
            [(ngModel)]="userService.usuariosSelect.apellido"
          />
        </div>
        <div class="form-group">
          <label for="email">Correo</label>
          <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="userService.usuariosSelect.email"
          />
        </div>
        <div class="form-group">
          <label for="telefono">Telefono</label>
          <input
            type="text"
            class="form-control"
            name="telefono"
            [(ngModel)]="userService.usuariosSelect.telefono"
          />
        </div>
        <button class="btn btn-success" [disabled]="formulario.invalid">
          Enviar Datos
        </button>
        <button
          class="btn btn-primary"
          id="limpiar"
          (click)="resetForm(formulario)"
        >
          Limpiar
        </button>
      </form>
    </div>
    <div class="col-sm-12 mt-4">
      <h1>Lista de usuarios</h1>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">apellido</th>
            <th scope="col">correo</th>
            <th scope="col">Telefono</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuarios of usuario">
            <th scope="row">{{ usuarios.id }}</th>
            <td>{{ usuarios.nombre }}</td>
            <td>{{ usuarios.apellido }}</td>
            <td>{{ usuarios.email }}</td>
            <td>{{ usuarios.telefono }}</td>
            <td>
              <a
                class="form-control bg-warning text-center"
                id="editar"
                (click)="updateUsuarios(usuarios)"
                >Editar</a
              >
            </td>
            <td>
              <br />
              <a
                class="form-control bg-danger text-center"
                id="borrar"
                (click)="deleteUsuario(usuarios.id)"
                >Borrar</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
